<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Intellij Demo</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/list">List</a></li>
                    <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li><a href="/reference">References</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<main role="main" class="container">

    <div class="starter-template">
        <h1>References</h1>
        <ul class="list-group alert alert-info">
            <li class="list-group-item list-group-item-action"><a href="https://mkyong.com/spring-boot/spring-boot-hello-world-example-thymeleaf/"><strong>Mkyong - Spring Boot Thymeleaf Example</strong></a></li>
            <li class="list-group-item list-group-item-action"><a href="https://plugins.jetbrains.com/plugin/8006-material-theme-ui"><strong>Intellij - Material UI Theme</a></li>
            <li class="list-group-item list-group-item-action"><a href="https://getbootstrap.com/docs/4.0/components/navbar/"><strong>Bootstrap - Navbar</strong></a></li>
            <li class="list-group-item list-group-item-action"><a href="http://cssslider.com/webdesign/bootstrap-list-style-650.html"><strong>Bootstrap - List Groups</strong></a></li>
            <li class="list-group-item list-group-item-action"><a href="https://www.baeldung.com/maven-webjars"><strong>Baeldung - Maven Webjars</strong></a></li>
            <li class="list-group-item list-group-item-action"><a href="https://mvnrepository.com/artifact/org.webjars/bootstrap/4.6.0"><strong>MvnRepository - Bootstrap Webjars</strong></a></li>
        </ul>
    </div>

</main>
<!-- /.container -->

</body>
</html>